html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.black {
    background-color: black;
}

#orb {
    border-radius: 100%;
    padding: 20px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 300px;
    width: 300px;
}

#planet1 {
    border-radius: 100%;
    padding: 20px;
    margin: 100px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 150px;
    width: 150px;
}

#planet2 {
    border-radius: 100%;
    padding: 20px;
    position: absolute;
    margin-left: auto;
    margin-right: 10px;
    margin-top: 10px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    width: 50px;
}

.visible {
    background-color: #eaeff2;
}

#moonspot1 {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    float: right;
    margin: 20px;
}

#moonspot2 {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    float: right;
    margin: 20px;
}

#moonspot3 {
    height: 180px;
    width: 180px;
    border-radius: 100%;
    float: right;
    margin: 20px;
}

#sky {
    height: 100%;
    width: 100%;
}

.moon {
    background-color: #bdc3c7;
    border: 10px solid #eaeff2;
}

.moon:hover {
    border: 20px solid #eaeff2;
}

.sun {
    border: 10px solid #f1c40f;
    background-color: #ffdd00;
}

.light {
    border: 10px solid lightblue;
    background-color: aquamarine;
}

.light:hover {
    border: 20px solid lightblue;
}

.dark:hover {
    border: 20px solid darkblue;
}

.dark {
    border: 10px solid darkblue;
    background-color: dodgerblue;
}

.light2 {
    border: 10px solid #183940;
    background-color: #ffff99;
}

.light2:hover {
    border: 20px solid #183940;
}

.dark2:hover {
    border: 20px solid #931843;
}

.dark2 {
    border: 10px solid #931843;
    background-color: #238414;
}

.sun:hover {
    border: 20px solid #f1c40f;
}

.night {
    background-color: #2c3e50;
}

.day {
    background-color: #37d8e6;
}
