html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.black {
    background-color: black;
}

#orb {
    border-radius: 100%;
    padding: 20px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 300px;
    width: 300px;
}

#planet1 {
    border-radius: 100%;
    padding: 20px;
    position: absolute;
    margin-top: 50px;
    margin-bottom: auto;
    margin-left: 50px;
    margin-right: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 150px;
    width: 150px;
}

#planet4 {
    border-radius: 100%;
    padding: 20px;
    position: absolute;
    margin-top: 250px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 20px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 150px;
    width: 150px;
}

#planet2 {
    border-radius: 100%;
    padding: 20px;
    position: absolute;
    margin-left: auto;
    margin-right: 10px;
    margin-top: 10px;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    height: 50px;
    width: 50px;
}

#planet5 {
    border-radius: 100%;
    padding: 20px;
    position: absolute;
    margin-left: auto;
    margin-right: 100px;
    margin-bottom: 20px;
    margin-top: auto;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    height: 50px;
    width: 50px;
}

#planet3 {
    border-radius: 100%;
    padding: 10px;
    position: absolute;
    margin-left: 10px;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: auto;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    height: 20px;
    width: 20px;
}

#planet6 {
    border-radius: 100%;
    padding: 10px;
    position: absolute;
    margin-left: 10px;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 10px;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    height: 20px;
    width: 20px;
}

.visible {
    visibility: visible;
}

.notvisible {
    visibility: hidden;
}

#moonspot1 {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    float: right;
    background-color: #eaeff2;
    margin: 20px;
}

#moonspot2 {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    float: right;
    margin: 20px;
    background-color: #eaeff2;
}

#moonspot3 {
    height: 180px;
    width: 180px;
    background-color: #eaeff2;
    border-radius: 100%;
    float: right;
    margin: 20px;
}

#moonspot11 {
    height: 10px;
    background-color: red;
    width: 10px;
    border-radius: 100%;
    float: right;
    margin: 20px;
}

#moonspot21 {
    height: 20px;
    background-color: red;
    width: 20px;
    border-radius: 100%;
    float: left;
    margin: 20px;
}

#moonspot31 {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: red;
    float: left;
    margin: 20px;
}

#sky {
    height: 100%;
    width: 100%;
}

.moon {
    background-color: #bdc3c7;
    border: 10px solid #eaeff2;
}

.moon:hover {
    border: 20px solid #eaeff2;
}

.sun {
    border: 10px solid #f1c40f;
    background-color: #ffdd00;
}

.light {
    border: 10px solid #b71c1c;
    background-color: #ff4444;
}

.light:hover {
    border: 20px solid #b71c1c;
}

.dark:hover {
    border: 20px solid #ef5350;
}

.dark {
    border: 10px solid #ef5350;
    background-color: #CC0000;
}

.light2 {
    border: 10px solid #2962ff;
    background-color: #4285F4;
}

.light2:hover {
    border: 20px solid #2962ff;
}

.dark2:hover {
    border: 20px solid #311b92;
}

.dark2 {
    border: 10px solid #311b92;
    background-color: #b388ff;
}

.light3 {
    border: 10px solid #00796b;
    background-color: #4db6ac;
}

.light3:hover {
    border: 20px solid #00796b;
}

.dark3:hover {
    border: 20px solid #1de9b6;
}

.dark3 {
    border: 10px solid #1de9b6;
    background-color: #004d40;
}


.sun:hover {
    border: 20px solid #f1c40f;
}

.night {
    background-color: #2c3e50;
}

.day {
    background-color: #37d8e6;
}
