.inline {
    display: inline-block;
}

.heading {
    color: black;
    font-size: 20px;
    margin-top: 15px;
}

.content {
    margin-top: 5px;
}

.text {
    width: 375px;
    vertical-align: top;
    color: darkblue;
}

#page {
    width: 400px;
    background-color: lightgoldenrodyellow;
    padding: 10px;
    color: grey;
    border: 1px;
    border-style: solid;
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
}
